.container {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}


.content {
	width: auto;
	height: 50px;
	display: inline-block;
	display: flex;
	margin: 20px;
	background-color: #d1d1d1;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.col {
	width: auto;
	height: 50px;
	display: inline-block;
	display: flex;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
	margin: 20px;
	justify-content: center;
}

#col1 {
	background-color: #d1d1d1;
	height: 50px;
	width: 33%;
	justify-content: center;
	margin-right: 20px;
}

#col2 {
	background-color: #d1d1d1;
	height: 50px;
	width: 33%;
	float: left;
	justify-content: center;
	margin-right: 20px;
}

#col3 {
	background-color: #d1d1d1;
	height: 50px;
	width: 33%;
	float: left;
	justify-content: center;

}

a {
	margin: auto;
	height: auto;
}