.container {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

.content {
	width: auto;
	height: 50px;
	background-color: #d1d1d1;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid black;
	margin: 20px;
	text-align: center;
}

div[class="Columns"] > span[class="content"] {
	padding-right: 20px;
}